<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbarColor">@*lightpink-2 mistyrose-1 peachpuff-least *@
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Jigar Rose", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>*@
            <div class="navbar-collapse collapse headerTextLayout" >
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Menu", "Menu1", "Home")</li>
                    <li>@Html.ActionLink("Online Orders", "OnlineOrder", "Home")</li>                    
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Careers", "Career", "Home")</li>
                </ul>                
            </div>
        </div>
    </div>
    <div> @*class="container body-content"*@
        @RenderBody()
        <hr />
        <footer class="footer">
            <p> &copy; Copyright @DateTime.Now.Year Jigar Rose | <a href="/Home/Index">Home </a>|  <a href="/Home/Menu"> Menu </a>
               | <a href="/Home/OnlineOrder"> Online Orders </a>  | <a href="/Home/Contact"> Contact </a> |
                <a href="/Home/Career"> Careers </a> </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
